<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encoding</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
        <h1>Encodage des voyageurs</h1>
        <form action="/encoding" method="post" class="form">
            <% for(let i = 0;i<booking.seats;i++){ %>
                <p><label>Nom</label><input type="text" name="name"></p>
                <p><label>Age</label><input type="text" name="age"></p>
            <%}%>
            <input type="submit" value="Etape suivante">
            <input type="submit" value=" Annuler la réservation" formaction="/cancel">
        </form>
    </div>

</body>
</html>